grid-2{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0 8%;
    min-height: 100vh;
    width: 85%;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    background-image: url(../images/gif.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    color: #7A7C80;
    

}

a{
    color: #06b7d6;
    text-decoration: none;
    font-size: 15px;
}
    
/* section 2 */
.section-2{
 width: 80%;
 margin: auto;
 padding: 36px 0;
 display: flex;
 align-items: center;
 justify-content: space-between;

}
/* animations / utilities */

.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}


.box{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
}

.box h1{
    margin-bottom: 5%;
}

.box h2{
    margin-top: 2%;
}

.box ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
.box ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px;
    align-items: center;
}
.box ul li a i:hover{
    color: #06b7d6;
    transition: .4s;
}

.my-contact .me-myself{
    height: 350px;
    width: 350px;
    border: white 2px solid;
}
