grid-2{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0 8%;
    min-height: 100vh;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    background-image: url(https://media.giphy.com/media/l19ipdY2pjK3d8Omtz/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    color: #7A7C80;
    

}

.section-1 h2{
    color: #d7f359;
    font-style: oblique;
    border: 2px solid rgb(185, 182, 182);
    width: 45%;
    border-radius: 10px;
    margin-left: 325px;
} 


.section-1 h3{
    color: #fffcfc;
    font-size: 20px;

}

a{
    color: #06b7d6;
    text-decoration: none;
    font-size: 15px;
}
    
/* section 1 */
.section-1{
    padding-top: 15vh;
    text-align: center;
    font-size: 50px; 
}


/* section 2 */
.section-2{
 width: 80%;
 margin: auto;
 padding: 36px 0;
 display: flex;
 align-items: center;
 justify-content: space-between;

}
/* animations / utilities */

.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}